server:
  port: 8080

spring:
  profiles:
    active: dev # Perfil activo por defecto
---
spring:
  config:
    activate:
      on-profile: dev
  datasource:
    url: jdbc:h2:mem:testdb
    driverClassName: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
  h2:
    console:
      enabled: true
management:
  endpoints:
    web:
      base-path: /
      exposure:
        include: health,info
---
spring:
    config:
      activate:
        on-profile: prod
    datasource:
      url: jdbc:mysql://localhost:3306/loanpaymentdb
      driver-class-name: com.mysql.cj.jdbc.Driver
      username: prod_user
      password: prod_password
      jpa:
        hibernate:
          ddl-auto: none
        show-sql: false
management:
  endpoints:
    web:
      base-path: /
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: never